@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  font-family: 'Muli', sans-serif;
  padding-top: 54px;
  color: #868e96;
  background: #f5fac8; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40; }

h1 {
  font-size: 4rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem; }

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px; }

.list-social-icons {
  margin-top: -40px; }
  .list-social-icons a {
    color: #495057; }
    .list-social-icons a:hover {
      color: #c11f1f; }
    .list-social-icons a .fa-lg {
      font-size: 1.75rem; }

.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: #c11f1f; }

#sideNav .lang {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  background-color: #ab1c1c;
  border-radius: 2px;
  padding: 3px; }
  #sideNav .lang .litem {
    color: white;
    text-decoration: none; }

#sideNav .navbar-brand {
  margin-right: 0; }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .lang {
      margin: auto;
      margin-bottom: 0; }
    #sideNav .navbar-brand {
      display: flex;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(245, 250, 200, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

#about {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), transparent), url("../img/photo2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #f8f9fa; }
  #about h1, #about h2, #about h3, #about h4 {
    color: #f8f9fa; }
  #about p.bio {
    font-size: 1.2em;
    font-weight: 400; }
  #about a {
    color: #f8f9fa; }
    #about a:hover, #about a:focus, #about a:active {
      color: #cbd3da;
      text-decoration: none; }
  #about a.email {
    text-transform: lowercase; }

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 18px; }
  .grid img.portitem {
    width: 200px; }

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } }

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; }
    section.resume-section .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 18px; } }

.bg-primary {
  background-color: #c11f1f !important; }

.text-primary {
  color: #c11f1f !important; }

a {
  color: #c11f1f; }
  a:hover, a:focus, a:active {
    color: #7f1515; }

.btn.btn-primary {
  background-color: #c11f1f;
  border: white;
  padding: 15px; }
